[Unit]
Description=EveBox Agent

[Service]
LimitMEMLOCK=infinity
User=root
Group=root
Type=oneshot
ExecStart=/bin/ip vrf exec vrf104009 /usr/bin/evebox agent

[Install]
WantedBy=multi-user.target